body{
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto;
}

.bgPink{
    background-color: rgb(240, 134, 170);
}

.bgGreen{
    background-color: rgb(95, 226, 72);
}

.green{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}