body {
    background-image: url(images/background.jpg);
    background-size: cover;
}


h1 {
    background: rgb(251, 251, 251);
    background: linear-gradient(90deg, rgba(251, 251, 251, 1) 0%, rgba(102, 161, 215, 1) 50%, rgba(63, 94, 149, 1) 100%);
    color: blue;
}

ul {
    background: rgb(251, 251, 251);
    background: linear-gradient(90deg, rgba(251, 251, 251, 1) 0%, rgba(102, 161, 215, 1) 50%, rgba(63, 94, 149, 1) 100%);
    color: blue;
    opacity: .25;
}

p {
    background: rgb(251, 251, 251);
    background: linear-gradient(90deg, rgba(251, 251, 251, 1) 0%, rgba(102, 161, 215, 1) 50%, rgba(63, 94, 149, 1) 100%);
    color: blue;
}