body{
    background-color: pink;
    display: flex;
}

div{
    background-color: antiquewhite;
    border: 3px solid black;
    width: 400px;
    padding: 2rem;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}