body, ul {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    background-color: rgb(68, 68, 68);
    padding: 20px;
    box-shadow: 0px 10px 15px 5px #4b4b4b;
}
li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
}
li a {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    background-color: #726f6f;
    color: white;
    border-radius: 5px;
}
li a:hover {
    background-color: black;
    transition: 1s;
}
.activePage {
    background-color: black;
}
nav ul {
width: 480px;
margin: 0px auto;
}

.red { 
    background-color: red;
}
.green { background-color: green;}

.p30 { padding: 30px;}
.mt30 { margin-top: 30px;}
.pt40 { padding-top: 40px;}

main { 
    width: 1150px;
    margin: 20px auto; 
}

figure {
    float: left;
    
}

h4 {
    color: red;
}

h2 {
    font-size: 30px;
}

p {
    color: gray;
}

.greta {
    float: right;
}

img {transition: 1s;}
img:hover {
    border-radius: 50%;
    transition: 1s;
}

